body {
  padding: 0;
  margin: 0;
}
.section {
  background-color: grey;
  height: 100dvh;
  padding: 10px;
  transition: height 0.2s;
  overflow: hidden;
  /* display: none; */
}
.section-one {
  /* display: block; */
  background-color: yellow;
}
.section-two {
  background-color: green;
}

.section-three {
  background-color: blue;
}
